/* Search.css */

@media screen and (max-width: 768px) {
  .container.c_flex {
    flex-direction: column;
    align-items: center;
  }

  .logo.width {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
  }

  .search-box {
    width: 100%;
  }

  .search-box input {
    width: 100%;
  }

  .search-box span {
    width: 100%;
  }
}
